.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 6rem 2rem 0;
  transition: margin-left var(--layout-section-transition-duration);
  overflow-y: auto;
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
  overflow-y: auto;
}

img {
  max-width: none !important;
}
